@charset "UTF-8";
.page{
    color:#fa0;
}
.progressBar{
    width: 150px;
    height: 15px;
    border: 1px solid red;
    /*display: none;*/
    border-radius: 5px;
}
.bar {
    width: 0;
    height: 100%;
    background: #08d09a;
    border-radius: 5px;
    line-height: 0;
    margin: 0;
}
#qrcode table{
    margin:20px;
}